body {
  font-size: 24px;
  padding: 0;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  background-color: #eeeff7;
}

#username {
  font-size: 16px;
  padding: 0;
  margin: 0;
}

.btn {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(44,62,80,1) 100%);
}
.sign-out-btn {
  position: relative;
  margin-top: 15px;
  margin-left: 15px;
  width: 150px;
  height: 30px;
  font-size: 16px;
}


.sliding-puzzle-figure {
  display: flex;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.vertical-line {
  border-left: 6px solid black;
  height: 100%;
  margin-left: 50%;
}

.btn:hover {
  background: radial-gradient(circle, rgb(1, 39, 228) 0%, rgba(44,62,80,1) 100%);
}


.timer{
  margin: 0 75px 0 75px;
  display: flex;
  flex-direction: column;
}

.timer .ranking{
  height: 35px;
  width: 100px;
  align-self: center;
}
.chat-box {
  position: absolute;
  top: 89%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chat {
  border: 2px solid black;
  width: 500px;
  height: 170px;
}

.message-wrapper {
  width: 98%;
  height: 67%;
  overflow: auto;
  font-size: 12px;
  padding: 5px;
}



.bottomNavigation{
    margin-top: 7px;
    display: flex;
    justify-content: center;
}

.bottomNavigation > input {
  padding: 5px;
  width: 60%;
  border: none;
  border-bottom: 3px solid #3D5AE8;
  font-size: 20px;
  font-weight: 550;
  margin-right: 10px;
}

.bottomNavigation > input:focus {
  outline: none;
  border-bottom: 3px solid #2D3F57;
}

.send-message-btn {
  padding: 0px 8px 0 8px;
}

.messageContainer{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.left{
    justify-content: flex-start;
}

.foreign{
    background-color: rgb(255, 71, 71) !important;
}

.message{
    width: 40%;
    background-color: rgb(117, 250, 161);
}

.messageInfo{
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}

.textContainer{
    padding: 0px 10px;
}


@media only screen and (max-width: 650px) {
  body {
    font-size: 22px;
  }
  .sign-out-btn {
    width: 90px;
  }
}

